/* Header */

.home {
    background-image: url('https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%
}

.header-top {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-image: linear-gradient(60deg, var(--primary-color), #0511ff);

}

.header__logo {
    cursor: pointer;

}

.header__logo img {
    width: 100%;
    object-fit: contain;
}

.header__sidebar-list {
    margin-top: 1rem;
    display: flex;
    list-style: none;
}

.header__sidebar-item {
    list-style: none;
    padding: 0.6rem 1.6rem;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
    transition: all 0.4s;
    font-size: 1.2rem;
}

.header__sidebar-item::after {
    content: "";
    position: absolute;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: 1rem;
    height: 1rem;
    right: 0px;
    bottom: 0px;
    transition: all 0.4s;
}

.header__sidebar-item:before {
    content: "";
    position: absolute;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    width: 1rem;
    height: 1rem;
    left: 0px;
    top: 0px;
    transition: all 0.4s;
}

.header__sidebar-item:hover:before {
    width: 100%;
    height: 100%;
}

.header__sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header__sidebar-item:hover:after {
    width: 100%;
    height: 100%;
}

.header__sidebar-item-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1000;

}

.header__sidebar-item-link .active {
    color: var(--primary-color);
}

.header__sidebar-item-link i {
    margin-left: 0.5rem;
}

.header__sidebar-item-icon {
    z-index: 11000;
}

.header__sidebar-list-item {}

.header__sidebar-list-home {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    list-style: none;
    top: calc(100% + 1px);
    left: -1.5rem;
    width: 18rem;
    background-color: #fff;
    margin-top: 2.5rem;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform-origin: 0 0;
}

.header__sidebar-item:hover .header__sidebar-item-link>i {
    transition: 0.3s linear;
    color: var(--primary-color);
}

.header__sidebar-item-link:hover {
    color: #fff !important;
}

.header__sidebar-item:hover .header__sidebar-list-home:after {
    width: 100%;
}

.header__sidebar-list-home::after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 2px solid var(--primary-color);
    width: 0;
    height: 0.2rem;
    transition: 0.6s linear;

}

.header__sidebar-list-home::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3rem;
    bottom: 100%;
}

.header__sidebar-item:hover .header__sidebar-list-home {
    transform: scaleY(1);
    visibility: unset;
    opacity: 1;
}

.header__sidebar-list-home-item {
    color: var(--text-color);
    font-weight: 400;
    transition: 0.3s linear;
    padding: 1.05rem 2rem;
    font-size: 1.2rem;
    border-top: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;

}

.header__sidebar-list-home-item>i {
    font-size: 1.6rem;
}

.header__sidebar-list-home-item:first-child {
    border: none;
}

.header__sidebar-list-home-item:hover {
    background-color: var(--primary-color);
    color: black;
}

/* .container{ */
/* background-image: url('https://images.pexels.com/photos/5905893/pexels-photo-5905893.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
/* background-attachment: fixed; */
/* object-fit: cover; */
/* background-repeat: no-repeat;
    background-size: cover;
} */

/* course */

.header__sidebar-list-course {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 75rem;
    left: -13.5rem;
    position: absolute;
    list-style: none;
    top: calc(100% + 1px);
    margin-top: 2.5rem;
    padding: 2rem;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform-origin: 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.header__sidebar-list-course-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.8rem;
    height: 6rem;
    transition: 0.3s linear;


}

.header__sidebar-list-course-item:hover {
    transform: scale(1.1);
}

.header__sidebar-list-course-item:hover .header__sidebar-list-course-category h3 {
    /* color: var(--text-color); */
}

.header__sidebar-list-course-item:hover .header__sidebar-list-course-icon i {
    animation: ani 0.2s linear;
    transition: all 0.3s linear;
}

@keyframes ani {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(200%);
    }
}

.header__sidebar-list-course-icon {
    padding: 1.2rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
    overflow: hidden;
}

.header__sidebar-list-course-icon i {
    font-size: 2.2rem;
    margin-right: 0.4rem;
}

.header__sidebar-list-course-category {
    text-transform: capitalize;
}

.header__sidebar-list-course-category h3 {
    color: var(--primary-color);
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
    transition: all 0.3s linear;
}

.header__sidebar-list-course-category p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__sidebar-item:hover .header__sidebar-list-course {
    transform: scaleY(1);
    visibility: unset;
    opacity: 1;
}


.header__sidebar-list-home-list-portfolio {
    position: absolute;
    list-style: none;
    top: -2.55rem;
    left: 100%;
    width: 18rem;
    background-color: #fff;
    margin-top: 2.55rem;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform-origin: 0 0;
}

.header__sidebar-list-home-item-portfolio {
    color: var(--text-color);
    font-weight: 400;
    transition: 0.3s linear;
    padding: 1.02rem 2rem;
    font-size: 1.2rem;
    border-top: 1px solid rgb(221, 221, 221);
}

.header__sidebar-list-home-item-portfolio:hover {
    background-color: var(--primary-color);
}

.header__sidebar-list-home-item-portfolio:last-child {
    padding-bottom: 1.1rem;
}

.header__sidebar-list-home-item:hover .header__sidebar-list-home-list-portfolio:after {
    width: 100%;
}

.header__sidebar-list-home-list-portfolio::after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 2px solid var(--primary-color);
    width: 0;
    height: 0.2rem;
    transition: 0.6s linear;

}

.header__sidebar-list-home-item:hover .header__sidebar-list-home-list-portfolio {
    transform: scaleY(1);
    visibility: unset;
    opacity: 1;
}

.slide-1 {
    margin-top: 100px;
    color: #fff;
}


.slide-1 p {
    text-shadow: #000 1px 1px 0;
    font-size: 2rem;
}

.img-slide1-right {
    border-radius: 10px !important;
    width: 100%;
    object-fit: cover;
    transition: 0.3s linear;

}

.img-slide1-right:hover {
    transform: scale(1.1);

}

.slide-1 h1 {
    font-size: 3.5rem;
    text-shadow: #000 2px 2px 0;
}

.slide-1__btn {
    color: #fff;
    border-color: #fff;
    font-weight: 600;
    transition: 0.3s linear !important;
}

.slide-1__btn i {
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.slide-1__btn:hover {
    background-color: var(--primary-color);
    color: #000;
    border: none;
}

.course {
    /* background-image: url('https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #fff;
    padding: 2rem 0;
}





/* course */
.course-item {
    height: auto;
}

.pricing-header {
    color: var(--primary-color);
    /* margin-bottom: 2rem; */
}

.pricing-header p {
    margin-top: 2rem;
}

.pricing-header h1:first-child {
    color: #777;
}

.pricing-header h1 {
    font-weight: 800 !important;
    display: inline;
    text-transform: uppercase;
}

.pricing-header p {
    font-weight: 400 !important;
    color: rgb(54, 52, 52) !important;
    font-size: 2rem !important;
}

.course .card {
    height: auto;
    font-size: 3rem;
}

/* course-item */

.list-course-item {
    align-items: center;
}

.course-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--text-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 2px 5px #ccc;
    transition: all 0.3s linear;

}

.course-item:hover {
    box-shadow: 6px 4px 10px #ccc;

}

.course-item-img {
    position: relative;
}

.course-item-content {
    background-color: #fff;
    padding: 2rem;

}

.course-item__img {
    object-fit: cover;
    overflow: hidden;

}

.course-item__img img:hover {
    transform: scale(1.1);
}

.course-item__img img {
    width: 100%;
    transition: all 0.3s linear;
    cursor: pointer;
    object-fit: cover;
}

.course-item__rating {
    font-size: 2rem;
    color: rgb(255, 162, 0);
    user-select: none;
}



.course-item__description h1 {
    margin: 2rem 0;
    transition: all 0.3s linear;

}

.avt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avt h2 {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.4rem;
}

.course-item__description h1:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.course-item__description h1 {
    font-weight: 600;
}

.course-item__footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.course-item__footer-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    transition: 0.6s linear;
    cursor: pointer;
}

.course-item__footer-btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
}

.course-item__footer-btn:hover {
    filter: brightness(80%);
}

.course-item__footer-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item__footer-price span {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: line-through;
    flex-wrap: nowrap;
    margin-right: 1rem;
}


.course-item-img-coaching {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 1.4rem;
}

.course-item-img-coaching:hover {
    color: var(--primary-color);
}

.course-item-img-description {
    position: absolute;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 1.4rem;
}

.course-item-img-description span {
    margin-right: 2rem;
    position: relative;
}

.course-item-img-description span:last-child::before {
    content: "";
    position: absolute;
    border-right: 3px solid rgb(255, 255, 255);
    height: 80%;
    right: 115%;
    transform: translateY(-50%);
    top: 50%;
}

/*instructors  */
.achievement {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://a6e8z9v6.stackpathcdn.com/thekeynote/wp-content/uploads/2014/12/2-item-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.achievement .pricing-header h1 {
    color: var(--primary-color);
}

.achievement .pricing-header p {
    color: #fff !important;
    text-shadow: #000 2px 2px 2px;
    margin-top: 1rem;
}

.achievement__item-icon {
    font-size: 10rem;
    color: var(--primary-color);
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.achievement__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.achievement__item {
    text-transform: uppercase;
    text-align: center;
}

.achievement__item h1 {
    font-weight: 800;
    font-size: 4rem;
    padding-top: 0;
    text-shadow: 2px 2px 2px #000;

}

.achievement__item span {
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #000;

}

.instructors {
    height: 100vh;
    background-color: #fff;
}

.features {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://a6e8z9v6.stackpathcdn.com/thekeynote/wp-content/uploads/2014/12/ticket-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    /* background-color: #ccc; */
}

.about {
    height: 100vh;
    background-color: #fff;
}

/* contact */

.contact {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://a6e8z9v6.stackpathcdn.com/thekeynote/wp-content/uploads/2014/12/location-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.contact .container {
    text-align: center;
    font-family: 'Montserrat';
}

.contact__header-location {
    font-size: 4rem;
    font-weight: 900;
    margin: 5rem 0;
}

.contact__header-address {
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.contact__header p {
    font-size: 1.8rem;
    font-weight: 200;
}

.contact__header p:last-child {
    color: red;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

.contact__footer {
    position: relative;
    display: inline;
    font-size: 1.6rem;
}

.contact__footer i {
    font-size: 2rem;
}

.contact__footer::before {
    content: "";
    position: absolute;
    width: 100%;
    top: -0.5rem;
    border-top: 2px solid #fff;
    left: 50%;
    transform: translateX(-50%);
}

.contact__footer span:nth-child(2) {
    margin: 1rem 0;
    margin-right: 2rem;
}

.contact__footer span:nth-child(4) {
    margin: 1rem 0;
}

/* footer */

.footer {
    background-color: #212121;
    font-family: 'Montserrat';
}

.footer-container {
    color: rgb(220, 217, 217);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
}

.footer-container-title {
    margin: 2rem 0;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
}

.footer-container-social i {
    padding: 0.4rem;
    background-color: #fff;
    color: #212121;
    font-size: 1.4rem;
    border-radius: 4px;
    margin-right: 0.4rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer-container-social i:hover {
    transform: scale(1.1);
}

.footer-container-list ul {}



.footer-container-list li {
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
    color: #7f7f7f;
}

.footer-container-list li:hover {
    color: #fff;
    cursor: pointer;
}

.footer-container-list input {
    padding: 1.2rem 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2rem;
}

.footer-container-list button {
    margin-top: 20px;
    padding: 1.2rem 1.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    right: 5px;
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-color);
}

.img-footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.footer-container-list .img {
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.footer-container-list .img img {
    width: 100%;
    object-fit: cover;
}

/* copyright */

.copyright {
    padding: 2rem 0;
    background-color: #161616;
    color: #363636;
    font-size: 1.4rem
}

.copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright ul {
    display: flex;
}

.copyright li {
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.copyright li:hover {
    color: #cecece;
}

.copyright li::before {
    position: absolute;
    content: "";
    border-left: 2px solid #363636;
    height: 80%;
    transform: translateY(-50%);
    top: 50%;
    left: -10%;
}

.copyright li:first-child:before {
    display: none;
}

.bottom-to-top {
    transform: translateY(150%);
    opacity: 0;
}

.bottom-to-top.start {
    transition: 1.4s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.fade-in {
    opacity: 0;
}

.fade-in.start {
    transition: 1.4s ease-in-out;
    opacity: 1;
}

.zoom {
    transform: scale(0);
    opacity: 0;

}

.zoom.start {
    transition: 1s ease-in-out;
    transform: unset;
    opacity: 1;

}

.display-4 {
    position: relative;
}

/* slider course slick */

.slick-initialized .slick-slide {
    margin: 0 20px;
}

.slick-track {
    padding: 20px 0;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    padding: 13.2px 0px;
    font-size: 1.85rem;
    color: black;
    transition: 0.5s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: var(--primary-color);
    color: #fff;

}

.slick-next {
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}


.slick-dots button {
    transition: 0.5s;

    margin: 10px 10px 0;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: 600;
    border: none;
    outline: none;
}

.slick-dots .slick-active button,
.slick-dots button:hover {
    color: #fff;
    background-color: var(--primary-color);
}


/* buy course */

.course-buy__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.course-buy__modal.active {
    visibility: visible;
    opacity: 1;
}

.course-buy__modal-container {
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.course-buy__modal-container a {
    font-size: 3rem;
}

.course-buy__close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

/* course-slider */

.course-slider {
    background-size: cover;
    background-image: url('https://a6e8z9v6.stackpathcdn.com/thekeynote/wp-content/uploads/2014/12/ticket-bg.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    color: #fff;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.course-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.course-slider-title {
    margin-top: 2rem;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--primary-color);
}

.course-slider-description {
    font-size: 2rem;
    margin: 2rem 0;
}

.course-slider-btn {
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 25px;
    font-size: 1.5rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    transition: 0.2s linear;
}

.course-slider-btn:hover {
    background-color: var(--primary-color);
    color: #000;
}

.course-slider-list {
    /* margin-top: 2rem; */
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    /* gap: 2rem; */
}

/* @media (min-width: 640px){
    .course-slider-list{
        grid-template-columns: repeat(1,1fr);
    }
     
    }
     
    @media (min-width: 768px){
     
        .course-slider-list{
            grid-template-columns: repeat(1,1fr);
        }
     
    }
     
    @media (min-width: 1024px){
     
        .course-slider-list{
            grid-template-columns: repeat(3,1fr);
        }
     
    }
     
    @media (min-width: 1200px){
     
        .course-slider-list{
            grid-template-columns: repeat(3,1fr);
        }
     
    } */

.course-slider-list .slick-prev,
.course-slider-list .slick-next {
    display: none !important;
}


.course-slider-item {
    border: 1px solid #fff;
    text-align: center;
    padding: 2rem;
    transition: .5s all ease;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 0;
    height: 50vh;
}



.course-slider-item:hover {
    cursor: pointer;
    transition: .5s all ease;
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.05);

}

.course-slider-item:hover .course-slider-item-icon {
    transform: translateY(0);
    opacity: 1;
    font-size: 10rem;
}

.course-slider-item:hover .course-slider-item-header {
    opacity: 1;
    font-size: 2rem;
    transform: translateY(0);

}

.course-slider-item:hover .course-slider-item-description {
    transform: translateY(1rem);
    opacity: 1;

}

.course-slider-item-icon {
    font-size: 15rem;
    transform: translateY(50%);
    line-height: 0;
    transition: .8s all ease;
}

.course-slider-item-icon i {
    color: var(--clr);
}

.course-slider-item-header {
    color: var(--clr);
    font-weight: 600;
    text-shadow: 3px 2px 3px #000;
    transition: .8s all ease;
    transform: translateY(10rem);
    font-size: 3rem;
}

.course-slider-item-description {
    font-size: 1.4rem;
    transform: translateY(120%);
    transition: .8s all ease;
    opacity: 0;
}

/* form login + register */

#sidebar-register {
    /* z-index: 999999; */
}

.form-register {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.form-register.active {
    visibility: visible;
    opacity: 1;
}

.form-register__container {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.form-register__container i {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.section {
    position: relative;
    display: block;
}

.section h4 {
    color: rgb(38, 25, 25);
    font-weight: 600;
    font-size: 3rem;
}

.section h6 span {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
}



.form-register .form-group i {
    color: #ccc;
}

.form-register .form-group .form-style {
    padding-left: 2rem;
}

.form-register .section a {
    color: var(--text-color);
}

.full-height {
    /* min-height: 100vh; */
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-register .checkbox:checked+label,
.form-register .checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
}

.form-register .checkbox:checked+label:before,
.form-register .checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: 'unicons' !important;
    content: '';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.form-register .checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}


.form-register .card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}

.form-register .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.form-register .card-front,
.form-register .card-back {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.form-register .card-back {
    transform: rotateY(180deg);
}

.form-register .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.form-register .center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}


.form-register .form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-register .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #09090b;
    background-color: var(--primary-color);
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-register .form-style:focus,
.form-register .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-register .input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input:-ms-input-placeholder {
    color: #1a1727;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input::-moz-placeholder {
    color: #14131d;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input:-moz-placeholder {
    color: #14131d;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input::-webkit-input-placeholder {
    color: #14131d;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-register .btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

.form-register .btn:active,
.form-register .btn:focus {
    /* background-color: #102770; */
    /* color: #1f1e1d; */
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.form-register .btn:hover {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}
